@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-playfair: 'Playfair Display', serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  @apply font-montserrat bg-white text-gray-900;
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}
